.link {
  margin: 20px;
}

.topBanner {
  display: flex;
  justify-content: start;
  padding-top: 20px;
}

.logo1 {
  position: fixed;
  padding: 20px;
  padding-bottom: 50px;
  width: 100vw;
  background-color: #090841;
  z-index: 2;
}

.connect {
  position: fixed;
  right:10px;
  top: 72px;
  padding: 0px;
  padding-top: 0px;
  z-index: 3;
  display: flex;
  gap:15px;
}

.scene {
  width: 100vw;
 
}

.sceneImg {
  width: 110vw;
  position:relative;
  top:60px;
}



.sceneDesc {
  position: relative;
  bottom: calc(100vw * 0.11);
  left: 6vw;
  width: 30vw;
  font-weight: 500;
  color: rgb(225, 228, 238);
  font-size: calc(100vw * 0.024);
  line-height: calc(100vw * 0.026);
}

.playButton {
  position: relative;
  bottom: calc(100vw * 0.40);
  left: 6vw;
  height: 42px;
  display: flex;
  gap: 10px
}

.title {
  position: relative;
  top: -40px;
  padding-left: 4vw;
  color: rgb(235, 227, 227);
  font-weight: bold;
  font-size: calc(100vw * 0.025);
  
}



.title1 {
  position: relative;
  top: -117px;
  padding-left: 4vw;
  color: rgb(235, 227, 227);
  font-weight: bold;
  font-size: calc(100vw * 0.022);
  
}

.thumbs {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap:10px;
  column-gap: 10px;
  row-gap: 40px;
  position: relative;
  top: -120px;
}

.ownThumbs {
  padding-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap:2px;
  row-gap: 20px;
  position: relative;
  top: -100px;
}

.thumbnail {
  width: 29vw;
  border-radius: 5px;
  transition: transform .4s;
}

.thumbnail:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.modal {
  max-height: 600px !important;
}

.modalContent {
  position: relative;
  top: -0px;
  width: 100%;
}

.modalImg {
  width:100%;
}

.modalLogo {
  position: fixed;
  top: -195px;
  left: 6%;
  width:30%;
}

.modalplayButton {
  position: fixed;
  top: 150px;
  left: 6%;
  display: flex;
  gap: 10px
}

.details {
 
  color: white;
  top: 0px;
  font-weight: bold;
  gap: 30px;
  display: fixed;
  font-size: 15px;
}

.movieInfo {
  display: fixed;
  top: 0px;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: fixed;
}

.description{
  padding-left: 50px;

  width: 60%;
  color: white;
}

.detailedInfo {
  padding-left: 10%;
  padding-right:5%;

  width: 30%;
}

.deets {
  margin-left: 5px;
  color: white;
}


.ownListContent {
  background-color: #16161600;
  height: 100vh;
  margin-top:200px;
}

.msg {
  margin-left: 5vw;
}

.creatorscene {
width: 95vw;

}

.Creatorimg {
  width: 100%;
  position:relative;
  top:120px;
}

.creatorscene2 {
  width: 95vw;
  
  }
  
  .Creatorimg2 {
    width: 100%;
    position:relative;
    top:-50px;
  }